<h4 class="header-text">Employee details</h4>
<mat-list class="employee-details">
  <mat-list-item>
    <span matListItemTitle>{{employee.firstName}}</span>
    <span matListItemLine>First Name</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>{{employee.lastName}}</span>
    <span>Last Name</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span matListItemTitle>{{employee.emailId}}</span>
    <span>Email</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
